# --------------- APP CONFIG --------------------
ATLAS_APP_NAME=AtlasRAG
ATLAS_ENVIRONMENT=development
ATLAS_DEBUG=false
# --------------- POSTGRSQL Config ----------------
ATLAS_POSTGRES_DB=atlasrag
ATLAS_POSTGRES_USER=atlas
ATLAS_POSTGRES_PASSWORD=atlas_dev_password
ATLAS_POSTGRES_PORT=5432
